<ion-header [translucent]="true">
  <ion-toolbar style="--background: transparent">
    <ion-title>Events</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="bground">
  <ion-header collapse="condense">
    <ion-toolbar style="--background: transparent">
      <ion-title size="large">Events</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-datetime
      presentation="date"
      value="2023-01-01"
      [highlightedDates]="highlightedDates"
      class="transparent-datetime"
    ></ion-datetime>
  </div>
</ion-content>
