<ion-header [translucent]="true">
  <ion-toolbar style="--background: transparent">
    <ion-title>Events</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="bground">
  <ion-header collapse="condense">
    <ion-toolbar style="--background: transparent">
      <ion-title size="large">Events</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-datetime
      [showDefaultTitle]="true"
      presentation="date"
      [value]="currentDate"
      [highlightedDates]="highlightedDates"
      class="transparent-datetime"
      (ionChange)="dateSelected($event)"
      size="cover"
    ></ion-datetime>
  </div>
  <ion-button (click)="insertEvent()">Add Event</ion-button>
</ion-content>
