<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/home">
      <ion-badge color="danger">{{unreadPosts?.length}}</ion-badge>
      <ion-icon aria-hidden="true" name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="community" href="/community">
      <ion-icon aria-hidden="true" name="people-outline"></ion-icon>
      <ion-label>Community</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="events" href="/events">
      <ion-icon aria-hidden="true" name="calendar-outline"></ion-icon>
      <ion-label>Events</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/profile">
      <ion-icon aria-hidden="true" name="person-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tools" href="/tools">
      <ion-icon aria-hidden="true" name="book-outline"></ion-icon>
      <ion-label>Tools</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
