<ion-content [fullscreen]="true" class="bground">
  <ion-header collapse="condense">
    <ion-toolbar style="--background: transparent">
      <ion-title size="large">Activity Feed</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card
      *ngFor="let post of allPosts"
      (click)="openConversationModal(post)"
    >
      <ion-card-header [style.background-color]="post.groupColour"
        >{{post.postTitle}}
      </ion-card-header>
      <ion-card-content>
        <p>{{post.postMessage}}</p>
      </ion-card-content>
      <ion-row class="cardfooter">
        <ion-col>
          <p>{{post.postTime}}</p>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add" (click)="insertPost()"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
