<ion-header>
  <!-- <ion-toolbar> -->
  <ion-title>Add New Event</ion-title>
  <!-- <ion-buttons slot="end">
    <ion-button (click)="dismissModal()" class="modalBeGone">Close</ion-button>
  </ion-buttons> -->
  <!-- </ion-toolbar> -->
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-label position="floating">Title *</ion-label>
      <ion-input
        name="eventTitle"
        type="text"
        [(ngModel)]="eventTitle"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Date and Time *</ion-label>
      <ion-datetime-button datetime="datetime"></ion-datetime-button>
      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime #dateTimePicker id="datetime"></ion-datetime>
        </ng-template>
      </ion-modal>
    </ion-item>

    <ion-item>
      <ion-label>Type *</ion-label>
      <ion-select name="postType" [(ngModel)]="postType">
        <ion-select-option
          *ngFor="let group of joinedGroups"
          [value]="group.id"
        >
          {{ group.name }}
        </ion-select-option>
        >
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Location *</ion-label>
      <ion-input
        name="eventLocation"
        type="text"
        [(ngModel)]="eventLocation"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Description *</ion-label>
      <ion-input
        name="eventDescription"
        type="text"
        [(ngModel)]="eventDescription"
      ></ion-input>
    </ion-item>
  </ion-card>
  <ion-button (click)="insertEvent()">Add Event</ion-button>
  <ion-button (click)="dismissModal()" class="modalBeGone">Close</ion-button>
  <ion-button (click)="openGallery()">open gal</ion-button>
</ion-content>
