<ion-header [translucent]="true">
  <ion-toolbar style="--background: transparent">
    <ion-title>Community</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="bground">
  <ion-header collapse="condense">
    <ion-toolbar style="--background: transparent">
      <ion-title size="large">Community</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-searchbar
    [(ngModel)]="searchQuery"
    (ionChange)="filterGroups()"
  ></ion-searchbar>
  <div id="container">
    <ion-card *ngFor="let group of filteredGroups">
      <ion-card-header>{{group.groupName}}</ion-card-header>
      <ion-card-content>
        <p>{{group.groupDesc}}</p>
        <p>{{group.id}}</p>
      </ion-card-content>
      <ion-button
        *ngIf="isUserJoinedGroup(group.id)"
        fill="clear"
        (click)="leaveGroup(group.id)"
        >Leave Group</ion-button
      >
      <ion-button
        *ngIf="!isUserJoinedGroup(group.id)"
        fill="clear"
        (click)="joinGroup(group.id)"
        >Join Group</ion-button
      >
    </ion-card>
  </div>
</ion-content>
