<ion-content [fullscreen]="true" class="bground">
  <ion-header collapse="condense">
    <ion-toolbar style="--background: transparent">
      <ion-title size="large">Profile</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="aboutApp" *ngIf="profileInfo">
    <img src="{{profileInfo.profilePic}}" style="width: 50%" />
    <fieldset>
      <legend>Profile</legend>
      <table>
        <tr>
          <td><b>Name:</b></td>
          <td>{{profileInfo.firstName}} {{profileInfo.lastName}}</td>
        </tr>
        <tr>
          <td><b>Email:</b></td>
          <td>{{profileInfo.email}}</td>
        </tr>
        <tr>
          <td><b>Institution:</b></td>
          <td>{{profileInfo.institution}}</td>
        </tr>
        <tr>
          <td><b>Admin:</b></td>
          <td>{{profileInfo.isAdmin}}</td>
        </tr>
      </table>
    </fieldset>
  </div>

  <div id="aboutApp" *ngIf="aboutInfo">
    <fieldset>
      <legend>About This App</legend>
      <table>
        <tr>
          <td><b>Version:</b></td>
          <td>{{aboutInfo[0].version}}</td>
        </tr>
        <tr>
          <td><b>Author:</b></td>
          <td>{{aboutInfo[0].author}}</td>
        </tr>
        <tr>
          <td><b>Purpose:</b></td>
          <td>{{aboutInfo[0].purpose}}</td>
        </tr>
        <tr>
          <td>
            <b>Credits:</b>
          </td>
          <td>
            <b>{{aboutInfo[0].credits.name}}:</b
            ><a href="{{aboutInfo[0].credits.url}}"
              >{{aboutInfo[0].credits.desc}}</a
            >
          </td>
        </tr>
      </table>
    </fieldset>
  </div>
</ion-content>
