// Import Ionic core CSS
@import "~@ionic/angular/css/core.css";

// Import Ionic basic CSS
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

// Import Ionic optional CSS utils
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Montserrat&display=swap");

// Define color variables
:root {
  --ion-bg-color: #0d2ca9;
  --primary-color: #004ba8;
  --secondary-color: #6eb5ff;
  --accent-color: #ffa000;
  --success-color: #4caf50;
  --neutral-color: #cccccc;
  --black: #000000;
  --headerTextColor: #ffffff;
}

.heading {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  text-align: center;
}

.image-container {
  position: relative;
  height: 300px;
  overflow: hidden;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: -1;
}

.form-container {
  --background: transparent;
  border-radius: 10px;
  padding: 20px;
  margin-top: 50px;
}

.transparent-input {
  --background: transparent !important;
  --color: var(--black) !important; /* Adjust font color if needed */
  border: none !important;
  box-shadow: none !important;
}

.input-label {
  color: var(--black); /* Input label color */
}

.login-button {
  margin-top: 20px; /* Adjust margin as needed */
}

ion-tab-bar {
  --background: transparent;
}

ion-tab-button {
  --color-selected: #f8f8f8;
  --color: #333;
}

ion-content.bground {
  --background: linear-gradient(
    to bottom,
    var(--secondary-color),
    var(--primary-color)
  );
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

ion-header {
  --ion-background-color: var(--primary-color);
}

ion-toolbar {
  --background: transparent;
  color: var(--headerTextColor);
  padding: 10px;
}

.project-card {
  --background: var(--secondary-color);
  color: var(--neutral-color);
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}

.success-message {
  --background: var(--success-color);
  color: white;
  padding: 10px;
}

.notification-icon {
  color: var(--accent-color);
}

#aboutApp {
  padding-left: 30px;
  padding-right: 30px;
}

fieldset {
  border: 1px solid var(--black);
  padding: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

a {
  color: var(--headerTextColor);
}

.transparent-datetime {
  --background: transparent;
}

.modalBeGone {
  --color-selected: var(--ion-bg-color);
  --color: var(--accent-color);
}
