// Import Ionic core CSS
@import "~@ionic/angular/css/core.css";

// Import Ionic basic CSS
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

// Import Ionic optional CSS utils
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

// Define color variables
:root {
  --ion-bg-color: #0d2ca9;
  --primary-color: #004ba8;
  --secondary-color: #6eb5ff;
  --accent-color: #ffa000;
  --success-color: #4caf50;
  --neutral-color: #cccccc;
  --black: #000000;
  --headerTextColor: #ffffff;
}

ion-tab-bar {
  --background: transparent;
}

ion-tab-button {
  --color-selected: #007bff;
  --color: #333;
}

ion-content.bground {
  --background: linear-gradient(
    to bottom,
    var(--secondary-color),
    var(--primary-color)
  );
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

// Apply custom colors to Ionic components
ion-header {
  --ion-background-color: var(--primary-color);
}

ion-toolbar {
  --background: transparent;
  color: var(--headerTextColor);
  padding: 10px;
}

// Remove the line between toolbar and content
ion-header::after,
ion-toolbar::after {
  display: none !important;
}

.project-card {
  --background: var(--secondary-color);
  color: var(--neutral-color);
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}

.success-message {
  --background: var(--success-color);
  color: white;
  padding: 10px;
}

.notification-icon {
  color: var(--accent-color);
}

#aboutApp {
  padding-left: 30px;
  padding-right: 30px;
}

fieldset {
  border: 1px solid var(--black); /* Set the border to a single black line */
  padding: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

a {
  color: var(--headerTextColor);
}
