<ion-header [translucent]="true">
  <ion-toolbar style="--background: transparent">
    <ion-title>Activity Feed</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="bground">
  <ion-header collapse="condense">
    <ion-toolbar style="--background: transparent">
      <ion-title size="large">Activity Feed</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card *ngFor="let post of allPosts">
      <ion-card-header>{{post.title}}</ion-card-header>
      <ion-card-content>
        <p>{{post.body}}</p>
        <p>{{post.type}}</p>
        <p>{{post.postTime}}</p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
